.btn-details {
    font-size: 12px;
    margin-top: 5px;
    padding: 3px 5px;
    color: whitesmoke;
    background-color: #1a5332;
    border-radius: 5px;
}

button {
    background-color: tomato;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}