main {
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;

  & p {
    margin-top: 0;
    color: rgb(16, 49, 12);
  }

  & h1 {
    margin-bottom: 0;
    font-family: "Caveat", cursive;
    color: rgb(16, 49, 12);
    }
}

.campings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .carte {
    background: #2a882f;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,.08);
    transition: transform .2s;
  }
  
  .carte:hover {
    color: tomato;
  }

  small:hover {
    font-size: larger;
  }

  .carte:hover {
    transform: translateY(-4px);
  }
  
  .carte h2 {
    margin-top: 5px;
    font-size: 14px;
    color :black;
    font-family: "Caveat", cursive;
    font-weight: 700;
  }
  
  .carte p {
    margin: 2px;
    color: black;
    font-size: 12px;
  }

  .carte img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
  }