.detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    border-radius: 10px;
    max-width: 900px;
    margin: 20px auto;
  }
  
  .detail-img {
    width: 100%;
    height: 100%;
    max-height: 600px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .detail-info {
    background: #3dc744;
    padding: 15px;
    border-radius: 10px;
  }

  .detail-info h1 {
    margin-bottom: 10px;
  }
 
  .map{
    margin-top: 10px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
  }
    
  .map iframe{
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
  }