.hero {
  max-width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background: linear-gradient(135deg, #123b23, #3dc744);
  font-family: "Caveat", cursive;
  color: #3dc744;
  border-radius: 16px;
}
  
.hero h1 {
  margin: 0;
  font-size: 40px;
}

.hero p {
  font-family: "Caveat", cursive;
  font-size: 20px;
}
  
  
 