.search {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    background: linear-gradient(135deg, #3dc744, #123b23);
    font-size: 14px;
  }

  .input-group {
    position: relative;
    width: 100%;
  }
  
  .input-group i {
    position: absolute;
    margin-top: 10px;
    left: 10px;
    top: 50%;
    font-size: 14px;
    transform: translateY(-50%);
    color: rgb(16, 49, 12);;
  }
  

